{% extends "base.html" %}
{% block 'titulo' %}
  Dashboard de {{user}} |
{% endblock 'titulo' %}

{% block 'conteudo' %}
  <h1>Olá {{user.first_name}} {{user.last_name}}</h1>
  {% include "parciais/_messages.html" %}
  <p>
    Seu usuário é {{user}}
  </p>
  <div class="container">
    <form action="{% url 'dashboard' %}" method="POST" enctype="multipart/form-data">
      <table class="table">
        {{form}}
        {% csrf_token %}
        <tr>
          <td colspan="12">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
{% endblock  %}